<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team ID: B21-CAP0347</title>
    {% block header %} {% endblock %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/form_upload.css" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column">
    <main class="py-4 flex-fill d-flex flex-column justify-content-center">
      {% block body %} {% endblock %}
    </main>

    {% include "github-corner.html" %}

    <footer class="py-2 border-top">
      <p class="mb-0 text-center">
        Copyright Syifa Nur Aini | All Rights Reserved
      </p>
    </footer>
  </body>
</html>
